@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


.myHero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/myHero-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    /* background-size: 75%; */
}

.myTitle p {
    font-family: 'Itim', cursive;
    margin-bottom: 0;
}

.navbar-expand-md .navbar-nav {
    width: 100%;
    justify-content: space-between;
}